VMLibrary/VMLibrary.xcodeproj/xcuserdata/victor.xcuserdatad/xcschemes/xcschememanagement.plist
VMTest/VMTest.xcodeproj/xcuserdata/victor.xcuserdatad/xcschemes/VMTest.xcscheme
VMTest/VMTest.xcodeproj/xcuserdata/victor.xcuserdatad/xcschemes/xcschememanagement.plist
VMWorkspace.xcworkspace/xcuserdata/victor.xcuserdatad/UserInterfaceState.xcuserstate
VMWorkspace.xcworkspace/xcuserdata/victor.xcuserdatad/WorkspaceSettings.xcsettings
